SQUARE_ACCESS_TOKEN=replace_with_square_sandbox_token
ADMIN_API_KEY=replace_with_long_random_admin_key
SQUARE_WEBHOOK_SIGNATURE_KEY=replace_with_square_webhook_signature_key
SQUARE_APP_ID=replace_with_square_application_id
SQUARE_APP_SECRET=replace_with_square_application_secret
CONNECTOR_ENCRYPTION_KEY=replace_with_base64_encoded_32_byte_key
SQUARE_RESTAURANT_WEBHOOK_SIGNATURE_KEY=replace_with_restaurant_webhook_signature_key
